body{
    background-color: black;
    color: #FFD700;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

#login-form{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#login-form h2{
    margin-bottom: 20px;
}

.input-login{
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFD700;
    background-color: #222;
    color: #FFD700;
    text-align: center;
}

.login-btn{
    background-color: #FFD700;
    width: 100%;
    height: 40px;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}


.login-btn:hover{
    background-color: #E5C100;
}

pre{
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFD700;
    background-color: #222;
    color: #FFD700;
    overflow: auto; /* Add scrollbars if needed */
    white-space: pre-wrap; /* Wrap text inside <pre> */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center text */
}

.hash-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.result-container{
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.git-btn{
    display: block;
    margin-top: 20px;
    text-align: center;
}

.git-btn img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.git-btn img:hover{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
