<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="">


<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<h1 class="header">WELCOME TO CRACKER !</h1>
<div class="login-container">
    <form id="login-form" action="/login" method="post">
        <h2>Log in</h2>
        <br>
        <label for="username">Username</label>
        <br>
        <input class="input-login" type="text" id="username" name="username">
        <br>

        <label for="password">Password</label>
        <br>
        <input class="input-login" type="password" id="password" name="password">
        <br>
        <button type="submit" class="login-btn">Log in</button>
        <br>
        <a href="/register" class="register-btn">Sign up here</a>
        <br>
        <h2>Log in with Github</h2>
        <a href="/oauth2/authorization/github" class="git-btn">
            <img src="/Images/github.png" alt="gitlogo"/>
        </a>

        <div th:if="${param.error}" class="wrong-login">
            Wrong username or password, Please try again!
        </div>
    </form>
</div>


</body>
</html>