<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Welcome</h1>
<form id="login-form" action="/login" th:object="${user}" method="post">
    <h2>Log in</h2>
    <label for="name">Username</label>
    <input type="text" id="name" name="name">

    <br>


    <label for="password">Password</label>
    <input type="text" id="password" name="password">
</form>


</body>
</html>