<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="">


<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=OCR+A+Extended&display=swap" rel="stylesheet">

</head>
<body>

<h1 class="header">WELCOME TO CRACKER !</h1>

<div class="login-container">
    <form id="login-form" action="/login" method="post">
        <h2>Log in</h2>
        <br>
        <label for="username">Username</label>
        <br>
        <input class="input-login" type="text" id="username" name="username" oninput="clearLoginmsg()">
        <br>

        <label for="password">Password</label>
        <br>
        <input class="input-login" type="password" id="password" name="password" oninput="clearLoginmsg()">
        <div id="error-msg" th:if="${param.error}" class="wrong-login">
            Wrong username or password,<br> Please try again! :)
        </div>
        <br>
        <button type="submit" class="login-btn">Log in</button>
        <br>
        <a href="/register" class="register-btn">Sign up here</a>
        <br>
        <h2>Log in with Github or Google</h2>
        <div class="oauthLogin-container">
            <a href="/oauth2/authorization/github" class="git-btn">
                <img src="/Images/github.png" alt="gitlogo"/>
            </a>
            <a href="/oauth2/authorization/google" class="google-btn">
                <img src="/Images/google.png" alt="googlelogo">
            </a>
        </div>
    </form>
</div>

<script src="/Js/clearingLoginmsg.js"></script>

</body>
</html>