<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">

</head>
<body>
<div class="container">
    <h1>Oops!</h1>
    <p>The page you are looking for seems to be missing.</p>
    <p>Please <a href="/">return to the homepage</a> or try searching again.</p>
    <img src="/Images/error404.png" alt="404 Image" class="error-image">
</div>
</body>
</html>
