<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/register" th:object="${newUser}" method="post">
            <h2>Register account</h2>
            <br>
            <label for="email">Email:</label>
            <br>
            <input class="input-login" type="text" id="email" name="email" placeholder="Email.example.com" th:field="*{userName}">
            <br>
            <label for="firstname">First name:</label>
            <br>
            <input class="input-login" type="text" id="firstname" name="firstname" placeholder="Name" th:field="*{firstname}" required minLength="1" maxlength="100" pattern="[A-Öa-ö ]+" >
            <br>
            <label for="lastname">Last name:</label>
            <br>
            <input class="input-login" type="text" id="lastname" name="lastname" placeholder="Lastname" th:field="*{lastname}">
            <br>
            <label for="phone">Phone:</label>
            <br>
            <input class="input-login" type="text" id="phone" name="phone" placeholder="0701234567" th:field="*{phone}">
            <br>
            <label for="password">Password:</label>
            <br>
            <input class="input-login" type="password" id="password" name="password" th:field="*{password}">
            <br>
            <button class="login-btn" type="submit">Register</button>
        </form>
    </div>
</body>
</html>