<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href = "@{/css/styles.css}">
</head>
<body>
<div class="login-container">
    <form action="/passwordis" method="post" class="login-form">

    <div>
        <label>ORIGINAL</label>
        <br>
        <pre th:text="${savedPassword}"></pre>
        <br>

        <label>MD5</label>
        <br>
        <pre th:text="${md5}"></pre>
        <br>

        <label>SHA256</label>
        <br>
        <pre th:text="${sha}"></pre>
    </div>

        <div class="hash-form">
            <label>Search a hash</label>
            <br>
        <input class="input-login" type="text" name="searchHash" required>
            <br>
        <button type="submit" class="login-btn" name="hashType" value="md5">Search MD5</button>
            <br>
            <button type="submit" class="login-btn" name="hashType" value="sha256">Search SHA256</button>
        </div>
    </form>
</div>
</body>
</html>

